$main-blue-800:#111B47;
$main-blue-700:#222F65;
$main-blue-600:#37447E;
$main-blue-500:#37447E;
$main-blue-500:#505F98;
$main-blue-300:#929ECC;
$main-blue-100:#E7ECFF;
$main-grey-700:#454E54;
$main-grey-600:#5D6970;
$main-grey-400:#939EA4;
$logo-primary:#37447E;
